<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <!-- Fontawesome icon load linking -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>About</title>
</head>

<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About KkBlogs</h1>
                </div>
                <div class="content">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolorem minus voluptatibus repellendus, et est sapiente
                        autem eveniet obcaecati, vel quasi architecto iusto aperiam
                        sunt temporibus maiores a, vero doloremque atque.
                        Repellendus, dolor dolore, suscipit rerum odit veniam sint
                        illum exercitationem sapiente quaerat earum. Accusamus, iste consectetur.
                        Praesentium expedita eveniet fugit aperiam modi molestiae nam. Dicta
                        assumenda cum facilis unde voluptatibus? Quibusdam temporibus animi,
                        odit voluptatibus incidunt facilis facere dolor atque provident vero
                        qui tempore illum? Quod quas minima ut fuga atque.</p>
                    <div class="button">
                        <a href="">Read more</a>
                    </div>
                </div>
                <div class="social">
                    <a href=""> <i class="fab fa-facebook"></i> </a>
                    <a href=""> <i class="fab fa-twitter"></i> </a>
                    <a href=""> <i class="fab fa-instagram"></i> </a>
                </div>
                <div class="imgage-section">
                    <img src="{% static 'img/about_blog.png' %}" >
                </div>
            </div>
        </div>
    </div>
</body>

</html>