/*
nav{
    background: #22575d!important;
}
*/

.colors{
background: #22575d!important;
}

.container-custom{
width: 90% !important;
margin: auto;
margin-top: 40px;
}


/* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  */